# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual Environments
# -------------------------------
venv/
.venv/
env/

# Panic Button venv
services/panicButton/venv/

# -------------------------------
# OS / System Junk
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Logs / Runtime Files
# -------------------------------
*.log

# -------------------------------
# Local Data / Dumps
# -------------------------------
*.mfd

# -------------------------------
# Config (For Potential Storage Of Secrets)
# -------------------------------
config/*.local.json
config/*.env

# -------------------------------
# IDE / Editor
# -------------------------------
.vscode/
.idea/

# -------------------------------
# Temporary / Misc
# -------------------------------
*.swp
*.bak
*.backup
*~
